* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center; 
    filter: vignette(0.3);
}

.wrapper {
    width: 420px;
    padding: 30px 40px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    animation: gerakKiriKanan 2s 3 ease-in-out;
}

.wrapper h1 {
    text-align: center;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}

.wrapper p {
    text-align: center;
    color: black;
    margin-bottom: 15px;
    font-family: 'Arial';
    font-weight: 400;
}

.input-box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.input-box label {
    margin-bottom: 5px;
    color: black;
    font-family: 'Arial';
    font-weight: 400;
}

.input-box input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    color: black;
    font-family: 'Arial';
    transition: border-color 0.3s;
}

.input-box span {
    position: absolute;
    left: 10px;
    top: 53%;
    transform: translateX(5px);
    font-size: 15px;
    color: #555;
}

.btn {
    background-color: lightgreen;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 25px; 
    margin-left: 270px;
}

.btn:hover {
    background-color: green;
}

b{
    font-family:'Times New Roman', Times, serif;
}